<mat-drawer-container autosize class="workspace">
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
        <app-directory
            [directory$]="workspace.directory$"
            (bloSelected)="onBloSelected($event)"
            (lvlSelected)="onLvlSelected($event)"
            (lioSelected)="onLioSelected($event)"
            (rpgSelected)="onRpgSelected($event)"
            (itmSelected)="onItmSelected($event)">
        </app-directory>
    </mat-drawer>
    <div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedTabIndex" #tabGroup>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>chevron_left</mat-icon>
                </ng-template>
                <div>
                    <div class="welcome-message">
                        Please open a file from the left-hand panel to begin editing.
                    </div>
                </div>
            </mat-tab>

            @for (tab of tabs; track tab.name; let index = $index)
            {
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ tab.name }} <button mat-icon-button color="primary" (click)="deleteTab(index)"><mat-icon>highlight_remove</mat-icon></button>
                    </ng-template>

                    @switch(tab.type)
                    {
                        @case (TabContextType.Blo)
                        {
                            <app-blo-tab [context]="asBlobContext(tab)"></app-blo-tab>
                        }
                        @case (TabContextType.Lvl)
                        {
                            <app-lvl-tab [context]="asLevelContext(tab)"></app-lvl-tab>
                        }
                        @case (TabContextType.Lio)
                        {
                            <app-lio-tab [context]="asLioContext(tab)"></app-lio-tab>
                        }
                        @case (TabContextType.Rpg) {
                            <app-rpg-tab [context]="asRpgContext(tab)"></app-rpg-tab>
                        }
                        @case (TabContextType.Itm) {
                            <app-itm-tab [context]="asItmContext(tab)"></app-itm-tab>
                        }
                    }
                </mat-tab>
            }
        </mat-tab-group>
    </div>
</mat-drawer-container>
