<div class="import-shell">
    <div>
        <button mat-fab extended color="plain" (click)="onSelectFolder()"><mat-icon>drive_folder_upload</mat-icon> Select FreeInfantry Folder</button>

        <p class="note">
            To begin, select your FreeInfantry installation folder and click <strong>Upload</strong>.
        </p>

        <p class="note">
            Currently in early-stage development work. For best results, please use Brave, Chrome or Edge browsers.
        </p>

        <a class="icon-button" href="https://github.com/InfantryOnline" mat-raised-button><i class="fa-brands fa-github"></i></a>
        <a class="icon-button" href="https://discord.gg/2avPSyv" mat-raised-button><i class="fa fa-brands fa-discord"></i></a>
    </div>
</div>
