<mat-card>
    <mat-card-header>
        <mat-card-title>{{ context?.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="splitter">
            <div class="list">
                <mat-list>
                    @for (entry of context?.file?.entries; track entry.name)
                    {
                        <mat-list-item>
                            <button mat-button color="primary" (click)="onEntrySelected(entry)">{{ entry.name }}</button>
                        </mat-list-item>
                    }
                </mat-list>
            </div>
            @if (selectedEntry)
            {
                <div class="details">
                    <div style="margin-bottom: 20px;">
                        <mat-chip-set>
                            @for (attribute of attributes; track attribute.label) {
                                <mat-basic-chip class="attribute"><span class="attribute-label">{{ attribute.label }}</span><span class="attribute-content">{{ attribute.text }}</span></mat-basic-chip>
                            }
                        </mat-chip-set>
                    </div>
                    @if (selectedFormat === SupportedBloFormats.Cfs && this.selectedSprite) {
                        <app-cfs-preview [sprite]="selectedSprite"></app-cfs-preview>
                    } @else if (selectedFormat === SupportedBloFormats.Wav) {
                        <button mat-flat-button color="primary" (click)="onPlay()" [disabled]="isProcessing"><i class="fa-solid fa-play"></i> Play Audio</button>
                    } @else {
                        <p>Format preview is not supported.</p>
                    }
                </div>
            }
        </div>
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
</mat-card>